<div class="home-page">
  <div class="left">
    <div class="logo">
      <h2>LOGO</h2>
    </div>
    <div class="sidebar">
      <nav class="menu">
        <a routerLink="/home" routerLinkActive="active"
          ><i class="fas fa-home"></i> Home</a
        >
        <a routerLink="/notifications" routerLinkActive="active"
          ><i class="fas fa-bell"></i> Notifications</a
        >
        <a routerLink="/shop" routerLinkActive="active"
          ><i class="fas fa-shopping-cart"></i> Shop</a
        >
        <a routerLink="/conversation" routerLinkActive="active"
          ><i class="fas fa-comments"></i> Conversation</a
        >
        <a routerLink="/wallet" routerLinkActive="active"
          ><i class="fas fa-wallet"></i> Wallet</a
        >
        <a routerLink="/subscription" routerLinkActive="active"
          ><i class="fas fa-clipboard-list"></i> Subscription</a
        >
        <a routerLink="/profile" routerLinkActive="active"
          ><i class="fas fa-user"></i> My Profile</a
        >
        <a routerLink="/settings" routerLinkActive="active"
          ><i class="fas fa-cog"></i> Settings</a
        >
      </nav>
      <a class="logout" (click)="onLogout()"
        ><i class="fas fa-sign-out-alt"></i> Log out</a
      >
    </div>
    <p>2022 logo Developed by aamirindi</p>
  </div>

  <div class="main-content">
    <div class="header">
      <div class="search-bar">
        <input type="text" placeholder="Search here..." />
      </div>
      <div class="filters">
        <button class="filters-button">
          <i class="fa fa-filter"></i> Filters
        </button>
      </div>
    </div>
    <div class="main-card">
      <div class="main-content">
        <img src="../../assets/fdadf.png" alt="" width="10%" />
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum fugiat
        pariatur debitis tempore cupiditate magni blanditiis doloribus,
        voluptate in amet dolores repudiandae nobis modi temporibus vero. Modi
        aliquam non unde.
      </p>
      <img src="../../assets/dsff.png" alt="" width="100%" />
    </div>
  </div>

  <div class="right">
    <button class="become-seller">Become a Seller</button>

    <p>Artists <span>Photographer</span></p>
    <div class="vertical-cards">
      <div class="vertical-card">
        <img
          src="../../assets/pexels-ekaterina-12203460@2x.png"
          alt=""
          width="100%"
        />
        <img
          src="../../assets/right (2).png"
          class="overlay"
          alt=""
          width="100%"
        />
        <img class="artist" src="../../assets/asdfds (1).png" alt="" />
        <p class="aar">Thomas Edward</p>
        <p class="aara">#thewildwithyou</p>
      </div>
      <div class="vertical-card">
        <img src="../../assets/jfds.png" alt="" width="100%" />
        <img
          src="../../assets/right (2).png"
          class="overlay"
          alt=""
          width="100%"
        />
        <img class="artist" src="../../assets/ed'.png" alt="" />
        <p class="aar">Chris Doe</p>
        <p class="aara">#thewildwithyou</p>
      </div>
      <div class="vertical-card">
        <img src="../../assets/fadsfds.png" alt="" width="100%" />
        <img
          src="../../assets/right (2).png"
          class="overlay"
          alt=""
          width="100%"
        />
        <img class="artist" src="../../assets/fg.png" alt="" />
        <p class="aar">Emilie Jones</p>
        <p class="aara">#thewildwithyou</p>
      </div>
      <div class="vertical-card">
        <img src="../../assets/dsjaf.png" alt="" width="100%" />
        <img
          src="../../assets/right (2).png"
          class="overlay"
          alt=""
          width="100%"
        />
        <img class="artist" src="../../assets/dfgfs.png" alt="" />
        <p class="aar">Jessica Willams</p>
        <p class="aara">#thewildwithyou</p>
      </div>
    </div>
  </div>
</div>
